#win {
    background-color: white;
}

QPushButton {
    height: 45px;
    width: 100%;
    background-color: rgb(225, 228, 255);
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    font-style: 'Tahoma'
}

QPushButton:hover {
    color: white;;
    background-color: rgb(255, 74, 109);
}

QPushButton:pressed {
    color: black;
}

QLineEdit {
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid rgb(225, 228, 255);
    padding: 5px 15px 5px 15px
}

QLineEdit:focus {
    border: 2px solid rgb(255, 74, 109)
}

QComboBox {
    font-size: 22px;
    border: 2px solid rgb(225, 228, 255);
    border-radius: 5px;
}

QLabel {
    font-size: 22px;
}

QTextEdit {
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid rgb(225, 228, 255);
    padding: 5px 15px 5px 15px
}

QTextEdit:focus {
    border: 2px solid rgb(255, 74, 109)
}

